body {
  margin: auto;
  max-width: 700px;
  font-family: 'Courier New', Courier, monospace;
}
header h1 {
  color: white;
  background-color: rgb(33 60 195);
  border-width: 0px;
  border-radius: 7px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 83px;
}
header img {
  margin-top: -90px;
  margin-left: 472px;
  box-shadow: 1px 1px 8px 1px #888888;
}

main {
  margin-top: -134px;
}

footer {
  color: white;
  background-color: rgb(33 60 195);
  border-width: 0px;
  border-radius: 7px;
  padding-top: 25px;
  margin-top: 66px;
  padding-bottom: 25px;
  text-align:center;
  padding-right: 64px;
}

footer a:visited {
  color: #b883ff;
}
footer a {
  color: lightblue;
  
}

hr {
  margin-right: 42px;
  margin-top: -20px;
}
ul {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}