/* 
  font-family: 'Work Sans', sans-serif;
  font-family: 'Noto Sans', sans-serif;
*/

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0px;
}



img {
  display:block;
}
main {
  display: grid;
}

section h2 {
  background-color: rgb(33 60 195);
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 0px;
  font-size: 2.25rem;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}

section {
  margin-top: 38px;
  color: black;
  background-color: #d6d6d6;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
section p, section a {
  padding-left: 7.5px;
}

section p {
  font-size: 1.5rem;
}

section a {
  font-size: 1.5rem;
}
section img {
  margin: 0 auto;
  width: 94%;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

header {
  color: white;
  font-size: 1.2rem;
  background-color: rgb(33 60 195);
  margin-top: -26px;
  text-align: center;
  width:100%;
}

header h2 {
  margin-top: -17px;
  padding-bottom: 10px;
}

footer {
  margin-top: 2rem;
}