@media only screen and (min-width: 74rem) { /* 1,100px */

  /**************
   * header_top *
   **************/

  header div.header_top {
    grid-template-columns: 50% 1fr;
  }

  header img.logo {
    justify-self: right;

    padding-right: 2rem;
    width: 15%;
  }

  header div.header_top h1 {
    justify-self: left;

    font-size: 5rem;
  }

  header div.header_top button {
    display: none;
  }

  /**************
   * Navigation *
   **************/

  nav ul {
    grid-template-columns: repeat(6, 1fr);
  }

  /***********************************
   * Side-by-side weather and alerts *
   ***********************************/

   div.side-by-side {
    grid-template-columns: 75% 25%;
    padding-top: 1rem;

    width: 92%;
  }

  /******************
   * Weather alerts *
   ******************/

  fieldset.alerts {
    width: 88%;
  }

  fieldset.alerts h2 {
    font-size: unset;
    text-align: center;
  }

  div.warning-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  div.warning-table div.warning-item {
    grid-template-columns: 22% 1fr;
  }

  div.warning-table div.warning-item span {
    grid-template-columns: 22% 1fr;
    align-self: center;
  }

  /*****************
   * Weather cards *
   *****************/

  fieldset.weather {
    width: 114%;
  }

  div.weather-details {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
  }

  div.weather-grid div.weather-card {
    grid-template-columns: 15% 1fr;
  }
  
  div.weather-card img {
    justify-self: center;
  }

  div.weather-card div.weather-details span.day {
    grid-column-start: span 3;
    margin-right: 7rem;
    justify-self: center;
  }



  /****************
   * Rental cards *
   ****************/

  div.rental-card {
    grid-template-columns: 1fr 1fr;
  }

  div.rental-card span.rental-text a {
    align-self: end;
  }

  /********************
   * For rentals.html *
   ********************/


  div#scroll {
    width: 40%;
    margin-bottom: 1rem;
  }

  /**********
   * Footer *
   **********/

  footer {
    grid-template-columns: 73% 25% 1fr;
    width: 93.4%;
    margin: 0 auto;
  }

  footer div.copyright {
    justify-self: center;
  }
}