@media only screen and (min-width: 27.78rem) { /* 500px */

  /*******************
   * primary section *
   *******************/

  fieldset {
    margin-top: 1rem;
    padding-top: 1rem;
  }

  legend {
    padding-top: unset;

    border: 5px solid var(--yellow);
    background-color: var(--orange);
  }

  /**************
   * header_top *
   **************/

  header img.logo {
    justify-self: center;

    width: 75%;
  }

  header div.header_top h1 {
    font-size: 7rem;
  }

  header div.header_top button {
    width: 4.89rem;
    height: 4.89rem;

    font-size: 3rem;
  }

  /**************
   * Navigation *
   **************/

   nav ul {
    grid-template-columns: repeat(3, 1fr);
  }

  /***********************************
   * Side-by-side weather and alerts *
   ***********************************/
  
  div.side-by-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  fieldset.alerts {
    height: min-content;
  }

  fieldset.weather {
    height: min-content;
  }

  /****************
   * Rental cards *
   ****************/

  fieldset.rentals {
    width: 92%;
  }

  fieldset.rentals div.rental-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  div.rental-table div.rental-card {
    grid-template-columns: 15rem 1fr;
  }

  div.rental-card span.rental-text {
    display: grid;
    font-size: 1rem;
  }

  div.rental-card span.rental-text a {
    padding: 1rem;
    align-self: center;

    color: #0000EE;

    font-size: 1rem;
  }

  fieldset.rentals div.rental-card img {
    order: unset;

    width: 95%;
  }

  /*********************
   * index.html Images *
   *********************/
 
   fieldset.images {
    width: 92%;
  }
  
  fieldset.images div.images-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }

  /********************
   * For contact.html *
   ********************/

  iframe:nth-last-of-type(1) {
    margin-bottom: unset;
  }

  /********************
   * For rentals.html *
   ********************/


  div#scroll {
    width: 75%;
    overflow-x:unset;
  }

  table {
    white-space: unset;
  }

  /************************
   * For reservation.html *
   ************************/

   fieldset.form {
    max-width: 45rem;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 44rem;
    margin: 0 auto;
  }


  /**********
   * Footer *
   **********/

  footer {
    display: grid;
    grid-template-columns: 1fr 25% 4%;
  }

  footer div.copyright {
    order: -1;
  }

  footer div.copyright a {
    display: inline;
    font-size: 1.5rem;
  }

  footer div.copyright span.other{
    display: inline;
  }

  footer div.copyright span.dash {
    display: inline;
  }

  footer div.time {
    grid-row-start: 2;
    grid-column-start: span 3;
    justify-self: center;
  }
}