/*****************
 * set up colors *
 *****************/

:root {
 --purple: #6318f5;
 --orange: #f59125;
 --blue: #0d3bf5;
 --yellow: #f5e925;
 --light-blue: #00B2F5;
}

/****************
 * set up fonts *
 ****************/

body {
  margin: 0 auto;
  width: 100%;

  background-color: var(--orange);

  font-size: 18px;
  font-family: Alegreya, sans-serif;
}

p,
span,
footer,
a {
  font-family: Varela, sans-serif;
}

/**************
 * header_top *
 **************/

div.header_top {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 25% 1fr 25%;

  border-bottom: 1px solid gray;

  background-color: var(--yellow);
}

div.header_top h1 {
  justify-self: center;
  align-self: center;

  margin: 0;

  font-size: 3rem;
}

div.header_top button {
  border: none;
  align-self: center;
  justify-self: center;

  width: 2.75rem;
  height: 2.75rem;

  color: black;
  background-color: var(--orange);

  font-size: 1.5rem;
}

/**************
 * Navigation *
 **************/

nav {
  margin-top: -1.1rem;
}


nav ul {
  display: grid;

  grid-template-columns: 1fr 1fr;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0rem;

  list-style-type: none;
}

nav a {
  display: block;

  color: black;
  background-color: var(--light-blue);
  border: 1px solid black;

  font-size: 2rem;
  text-decoration: none;
  text-align: center;
}

nav li.active a {
  color: white;
  background-color: var(--purple);
}

/*******************
 * primary section *
 *******************/

fieldset {
  margin: 0 auto;
  margin-top: -2rem;
  width: 85%;

  border: none;

  color: black;
  background-color: var(--yellow);
}

legend {
  padding-top: 4rem;

  font-size: 3rem;
  text-align: center;
}

/******************
 * Weather alerts *
 ******************/

fieldset.alerts h2 {
  margin: 0.5rem;
  padding: 1rem;

  border: 1px solid black;
  border-radius: 2.5rem;
  color: black;
  background-color: var(--orange);

  font-family: Valera, sans-serif;
}

fieldset.alerts legend {
  font-size: 2.5rem;
}

div.warning-table div.warning-item {
  display: grid;
  margin: 0.5rem;
  padding: 1rem;

  border: 1px solid black;
  border-radius: 2.5rem;
  font-size: 1.25rem;
  color: black;
  background-color: var(--light-blue);

  text-align: center;
}

div.warning-table div.warning-item span:nth-of-type(odd) {
  text-align: center;
}

/*****************
 * Weather cards *
 *****************/

div.weather-grid {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1rem;
  width: 100%;

  text-align: center;
}

div.weather-grid div.weather-card {
  display: grid;

  grid-template-columns: 35% 1fr;
  grid-column-start: span 3;
  column-gap: 1.5rem;
  align-items: center;

  border: 1px solid black;
  border-radius: 1.5rem;
  background-color: var(--orange);

  text-align: left;
}

div.weather-grid div.weather-card img {
  width: 100%;
  justify-self: right;
}

div.weather-grid div.weather-card div.weather-details span.day {
  font-size: 1.5rem;
}

div.weather-grid div.weather-card div.weather-details span {
  display: block;

  font-family: Varela, sans-serif;
}

/*********************
 * index.html Images *
 *********************/

fieldset.images {
  width: 85%;
}

fieldset.images div.images-grid {
  display: grid;

  row-gap: 1rem;
}

fieldset.images legend {
  font-size: 2rem;
}

fieldset.images img {
  width: 100%;
  border-radius: 2rem;
}

/****************
 * Rental cards *
 ****************/

div.rental-card {
  display: grid;

  margin: 1rem;

  border-radius: 1rem;

  color: white;
  background-color: var(--light-blue);
}

div.rental-card img {
  order: -1;

  margin: 1rem;
  align-self: center;
  justify-self: center;
  width: 87%;

  border-radius: 1rem;

  background-color: white;
}

div.rental-card span.rental-text {
  margin: 1rem;
  padding: 1rem;

  border: 0.1rem solid black;
  border-radius: 1rem;

  background-color: var(--purple);
}

div.rental-card span.rental-text a {
  display: block;

  margin: 1rem;

  color: var(--blue);
  background-color: white;
  border: 1px solid black;
  border-radius: 1rem;

  font-size: 2.44rem;
  text-decoration: none;
  text-align: center;
}

/************************
 * For contact.html *
 ************************/

fieldset.contact-info {
  text-align: center;
  font-family: Valera, sans-serif;
}

fieldset.contact-info form input {
  margin: 0 auto;
}

iframe:nth-last-of-type(1) {
  margin-bottom: 1rem;
}

fieldset.contact-info form input[type="submit"] {
  margin-top: 1rem;
}

/********************
 * For rentals.html *
 ********************/


div#scroll {
  margin: 0 auto;
  margin-top: 1rem;

  width: 85%;
  overflow-x:auto;

  background-color: var(--yellow);
}

table {
  white-space: nowrap;
  text-align: center;
  width:100%;
  border-collapse: collapse;
}

tr,
th,
td {
  border: 1px solid black;
}

/************************
 * For confirmation.html *
 ************************/

fieldset p.thanks {
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;

  width: 50%; /* calc(max-content + 1rem); */
  text-align: center;

  background-color: green;
  color: white;

  font-family: Valera, sans-serif;
 }


/************************
 * For reservation.html *
 ************************/

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

form label {
  padding-top: 3%;
}

form input {
  max-width: 10rem;
  height: 44px;
}

form input:valid:not(input[type="submit"]) {
  border: 3px solid green;
  border-radius: 1rem;
}

form input:optional:not(input[type="submit"]) {
  border: 3px solid gray;
  border-radius: 1rem;
}

form input:invalid {
  border: 3px solid red;
  border-radius: 1rem;
}

form select {
  max-width: 10.5rem;
  height: 44px;
}

form p {
  margin-bottom: -1rem;
}

form input[type="submit"] {
  align-self: center;

  margin-top: 1rem;
  
  color: black;
  background-color: var(--light-blue);
}

form textarea {
  max-width: 100%;
}

/**********
 * Footer *
 **********/

footer {
  margin-top: 1rem;
  padding-top: 1rem;

  color: blue;
  background-color: var(--yellow);
}

footer div.icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

footer div.icons a {
  width: 44px;
  height: 44px;
}

footer div.icons a img {
  margin: 0 auto;
  width: 100%;
}

footer div.icons a img.correct-background {
  background-color: white;
}

footer div.copyright {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

footer div.copyright a {
  display: block;
  font-size: 2rem;
}

footer div.copyright span.other{
  display: block;
}

footer div.copyright span.dash {
  display: none;
}

/*************
 * other css *
 *************/

img.logo {
  width: 100%;
}

/******************
 * For JavaScript *
 ******************/
.hidden {
  display: none;
}