body {
  font-family: 'Work Sans', sans-serif;
}

h1 {
  text-align: center;
}

section div:nth-last-of-type(1) {
  padding-bottom: 1rem;
}

section {
  background-color: #ff9b80;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 95%;
  margin: 0.25rem auto;
  border: black 1px solid;
}

section img {
  display: block;
  width: 50%;
  margin: 0 auto;
  box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.4);
}

footer {
  background-color: #ff9b80;
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
  div.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* Window Views *****************************/
@media only screen and (min-width: 60em) {
  div.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}