
/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
  main {
    width: 75%;
    margin: 0 auto;
  }
  /*
  nav {
    display: flex;
    border-radius: unset;
  }
  
  nav a:nth-child(1) {
    border-radius: 0.5rem;
  }
  
  nav a:nth-last-child(1) {
    border-radius: 0.5rem;
  }
  */


}

